@model HomePageViewModel

@{
    ViewData["Title"] = "News Feed";
}
<br />
<hr />

<div class="text-center">
    <h1>Welcome to Nerd News! </h1>
    <p>Here is some of the top tech news ...  </p>
</div>

<hr />
<br />
<br />

@foreach (var article in Model.ArticleModel)
{
    var id = article.Id;
<div class="card">

    <div class="card-header">
        <span class="badge badge-pill badge-primary float-right m-2 mr-2 font-initial">@article.Name</span>
        <h2 class="card-title m-2">@article.Title</h2>
    </div>

    <div class="card-body">
        <img class="news-img" src="@article.UrlToImage" alt="@article.Name" />
        <br /><hr />
        <p class="card-text">
            @article.Description
        </p>

        <hr />

        <button type="button" id="add-comment-@id" class="btn btn-primary text-white">Add Comment</button>

        <a href="@article.Url" target="_blank" class="btn btn-secondary ">
            View On Site
        </a>
        <span id="comment-count-@id" class="btn btn-outline-primary float-right"></span>

        <button id="view-comments-btn-@id" type="button" class="btn btn-outline-primary float-right">
            View Comments
        </button>


    </div>

    <div class="hide view-comments-@id card-footer">
        <h5><i class="fas fa-comments"></i> Comments</h5>
        @await Component.InvokeAsync("Comments", new { postId = id })

    </div>

        <!--Add Comment Form-->
        <div class="hide comment-input-@id card-footer">
            <form asp-action="AddCommment" asp-controller="Home" class="form-group">
                <input hidden asp-for="NewsPostId" value="@id" />
                <label for="">Add Comment</label>
                <textarea required asp-for="Comment" style="resize:none"
                          class="form-control"
                          placeholder="Type comment in here"
                          id="" rows="3"></textarea>
                <span asp-validation-for="Comment"></span>
                <button class="btn btn-primary float-right mt-2" type="submit">Add</button>
            </form>
        </div>
    </div>
    <br />

    <script>
        $(function () {

        $.get("Home/CommentCount", { postId: '@id'  }, function (data) {
            var count = data.count;
            $('#comment-count-@id').text(count);
        });

        $('.comment-input-@id').hide();

        // Check to see if user is logged in to comment
        $('#add-comment-@id').click(function () {
            $.get("Home/CheckAuthorised",
                function (data) {
                    var isAuth = data.isAuth;
                    if (!isAuth) {
                        //Not authorized show toast
                        toastr.warning('Please login to comment', 'Warning');
                    } else {
                        // Show comment panel
                        $('.comment-input-@id').toggle();
                    }
                });
        });

        $('#view-comments-btn-@id').click(function () {
                showComments('@id');
        })

        // Toggle Button and Text
        function showComments(id) {

            var showComment = $(`#view-comments-btn-${id}`);
            showComment.text().includes('View Comments') ? showComment.text('Hide Comments') : showComment.text('View Comments')
            $(`.view-comments-${id}`).toggle();
        }


    });
    </script>

    }


