@model List<ArticleViewModel>

@{
    ViewData["Title"] = "News Feed";
}
    <br />
    <hr />
    <div class="text-center">
        <h1>Welcome to Nerd News! </h1> 
        
        <p>Here is some of the top tech news ...  </p>
    </div><hr />
    <br /><br />
@foreach (var article in Model)
{
    <div class="card">

        <div class="card-header">
            <span class="badge badge-pill badge-primary float-right m-2 mr-2">@article.Name</span>
            <h4 class="card-title m-1">@article.Title</h4>
        </div>

        <div class="card-body">
            <img class="news-img" src="@article.UrlToImage" alt="@article.Name" />
            <br /><hr />
            <p class="card-text">
                @article.Description
            </p>

            <hr />

            @if (User.Identity.IsAuthenticated)
            {
                <a href="" class="btn btn-secondary text-white">Reply</a>
            }


            <a href="@article.Url" target="_blank" class="btn btn-primary ">
                View On Site
            </a>
        </div>
    </div>
    <br/>
}


